# Local .terraform directories
**/.terraform/*
**/.terragrunt-cache/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log


override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.lock.hcl
terragrunt-debug.tfvars.json

# provider.tf and terraform.tf
provider.tf
terraform.tf

# MacOS hidden files
**/.DS_Store
.terraform/providers/registry.terraform.io/hashicorp/aws/4.66.1/darwin_arm64/terraform-provider-aws_v4.66.1_x5